nav
{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 100%;
}

header
{
    
}

a 
{
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.selected
{
    border-bottom: 5px solid #49736b !important;
}

#header-nav 
{
    height: 5em;
    background-color: #585359;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    -webkit-transition: -webkit-transform 0.7s 0.3s ease;
    -moz-transition: -moz-transform 0.7s 0.3s ease;
    -ms-transition: -ms-transform 0.7s 0.3s ease;
    transition: transform 0.7s .3s ease;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    z-index: 20;
}

#header-nav.hide-nav-bar 
{
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    -webkit-backface-visibility: hidden;
}

a.menu-link 
{
    color: #fff;
    float: right;
    display: block;
    padding: 0.7em;
    margin-top: 1em;
}

nav[role=navigation] 
{
    clear: right;
    margin-right: 1em;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.js nav[role=navigation] 
{
    overflow: hidden;
    max-height: 0;
}

.active{
    border-bottom: 1px solid #4a736e;
}

nav[role=navigation].active 
{
    max-height: 15em;
    border-bottom: 1px solid #4a736e;
}

nav[role=navigation] ul 
{
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
    width: 100%;
}

nav[role=navigation] li
{
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #49736b;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

nav[role=navigation] li:hover
{
    background-color: #525c5e;
}

nav[role=navigation] li a 
{
    display: block;
    padding: 0.8em;
    font-size: 85%;
}

.menu-link 
{
    cursor: pointer;
}

.brand 
{
    height: 5em;
    float: left;
}

.brand img
{
    height: 3em;
    padding: 1em;
    padding-right: 0em;
}

nav[role=navigation] i
{
    cursor: pointer;
    margin-top: -0.1em;
    width: 100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

@media screen and (min-width: 700px) 
{
  .wrap
  {
    height: inherit;
    padding: 0% 0%;
  }
    
  #menu
  {
      width: 440px;
      float: right;
      position: relative;
  }
    
  a.menu-link 
  {
        display: none;
  }
    
  .js nav[role=navigation] 
  {
        max-height: none;
  }
    
  nav[role=navigation] ul 
  {
        margin: 0 0 0 -0.25em;
        border: 0;
        float: right;
        width: auto;
  }
    
  nav[role=navigation] li 
  {
        display: inline-block;
        margin: 0 0.25em;
        width: auto;
        border: none;
        border-bottom: 1px solid #585359;
        background-color: transparent;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
  }
    
  nav[role=navigation] li:hover{
        border-bottom: 5px solid #49736b;
        background-color: transparent;
  }
    
  nav[role=navigation] li a 
  {
        color: #fff;
        border: 0;
        padding: 2.3em 0.8em 2.1em 0.8em;
  }
    
  nav[role=navigation] i
  {
        display: none;
  }
  
  nav[role=navigation].active 
  {
        background-color: transparent;
  }
    
}

@media screen and (min-width: 900px){
  .wrap
  {
    width:1024px;
    margin: auto;
  }
  
  .brand img
  {
    padding-top: 0.8em;
    height: 3.5em;
  }
}

.container 
{
    max-width: 72em;
    margin: 0 auto;
}

section hr 
{
    border-bottom: none;
    color: #f2f2f2;
}

.info 
{
    text-align: center;
}