/*CSS Document*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,400italic);

*
{
    padding: 0;
    margin: 0;
}

html
{
	width: 100%;
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
	background-color: #FFF;
    background-image: url("../img/dna2.png");
	background-size: 50%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

.welkom
{
    width: 100%;
    height: 40em;
    margin-top: 5em;
    /*padding-left: 1.4em;*/
    /*background-image: url("../img/microscope.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/
}

.contentwrap{
    width: 100%;
    height: 40em;
    margin-top: 5em;
}

.textwrap
{	
    
    color: #000;
    display: block;
    width:1024px;
    margin: auto;
    margin-top: 2em;
}

.textwrap p
{
    font-family: sans-serif;
	font-size: 100%;
    font-weight: 300;
	line-height: 1.3em;
}

.textwrap h1
{
	text-transform: uppercase;
    font-weight: 1em;
}

h1{
    text-transform: uppercase;
    font-weight: 0.8em;
}

#fotoslide{
    width:100%;
    background-color: #4a736e;
    background-image: url(../img/olive_boy.jpg);
    background-size: cover;
    background-position: center;
    height:20em;
}
.contentwrap h3{
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 800;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width:100%;
    background-color: #585359;
    color:white;
    text-align: center;
    
    font-weight: 0.7em;
}

.two_paragraphs{
    width:100%;
    float:left;
    overflow: hidden;
}
.paragraph{
    width:45%;
    float:left;
}
.paragraph:nth-child(even){
    margin-left: 10%;
}