/*CSS Document*/
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,400italic);

*
{
    padding: 0;
    margin: 0;
}

html
{
	width: 100%;
	height: 100%;
    font-family: 'Fira Sans', sans-serif;
	background-color: #FFF;
    background-image: url("../img/dna.png");
	background-size: auto;
    background-position: right;
    background-repeat: no-repeat;
}

.welkom
{
    width: 100%;
    height: 40em;
    padding-left: 1.4em;
    /*background-image: url("../img/microscope.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;*/
}

.textwrap
{	
    margin-top: 25em;
    margin-left: 3em;
    color: #000;
    display: block;
    max-width: 50em;
    padding: 1em;
    float: left
}

.textwrap p
{
	font-size: 100%;
    font-weight: 300;
	line-height: 1.3em;
}

.textwrap h1
{
	margin-bottom: 0.1em;
	font-size: 250%;
}